.table {
}

.cell {
  padding: 2px 20px;
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.row:not(:first-of-type) {
  cursor: pointer;
}

.row:not(:first-of-type):hover {
  background-color: rgba(171, 171, 171, 0.14);
}

.diffCell {
  text-align: end;
}

.diffPositive {
  color: green;
}

.diffNegative {
  color: red;
}