.body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  background-color: rgba(0,0,0, .5);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  width: 500px;
  background-color: white;
}

.heading {
  display: flex;
  justify-content: space-between;
  
  padding: 10px 20px;
  margin : 0 0 .5rem;
  border-bottom: 1px solid #eee;
}

.closeButton {
  cursor: pointer;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.table {
  margin: 1rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.row:hover {
  background-color: rgba(171, 171, 171, 0.14);
}


.cell {
  padding: 2px 20px;
  text-align: center;
}

.diffCell {
  text-align: end;
}

.diffPositive {
  color: green;
}

.diffNegative {
  color: red;
}

